.todo{
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  border-radius: 16px;
  height: 70px;
  text-align: left;
  display: flex;
  margin-bottom: 30px;
}
.square{
  flex-grow: 1;
  margin-top: 24px;
  margin-left: 30px;
}
.todo_title{
  flex-grow: 3;
  text-align: left;
}
.todo_title > p {
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
}
.edit{
  flex-grow: 1;
  text-align: right;
  margin-top: 25px;
}
.remove{
  text-align: right;
  margin-right: 30px;
  margin-top: 25px;
  margin-left: 20px;

}

.todo_title span {
  position: relative;
}
.todo_title span::before {
  content: '';
  position: absolute;
  height: 2px;
    width: 0;
    background: red;
    top: 8px;
    left: -5px;
    transition: width 1.5s;
}
.todo_title span.active::before {
  width: 105%;
}
.buy_one{
  color: white;
  background: linear-gradient(270deg, #1EA39B 0%, #38EF7D 100%);
  box-shadow: 0px 4px 14px rgba(44, 203, 139, 0.3);
  border-radius: 6px;
}
.count{
  margin-left: 100px;
}
