.todo_main{
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  width: 560px;
  height: 296px;
  text-align: center;
  margin-left: 444px;
  margin-top: -140px;
}

.add_todo{
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  width: 400px;
  height: 50px;
  background: linear-gradient(270deg, #1EA39B 0%, #38EF7D 100%);
  box-shadow: 0px 4px 14px rgba(44, 203, 139, 0.3);
  border-radius: 6px;
}
.grocery_input{
  width: 300px;
  height: 35px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.grocery_input_second{
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.error{
  background: grey
}
.todo_header{
  display: flex;
}
.add_header{
  margin-left: 200px;
}
.cansel_window{
  margin-left: 180px;
}
