<div class="todo_main">
  <div class="todo_header">
    <div class="add_header"><h2>Add a Product</h2></div>
    <div class="cansel_window"><p><img src="/assets/img/cansel.png" alt="cansell" (click)="canselWindow()"></p></div>
  </div>
  <form [formGroup]='myFormGroup' (ngSubmit)="savePost()">
    <label> Enter a product</label>
    <input type="text" class="grocery_input" [formControl]="product">
    <br>
    <label> Enter count</label>
    <input type="number" class="grocery_input_second" [formControl]="count">
    <br>
    <button  [disabled]="!myFormGroup.valid" class="add_todo" (keydown.enter)="savePost()" [class.error]="!myFormGroup.valid">Add product</button>
  </form>
</div>
